.home-wrap {
  opacity: 0;
  &.loaded {
    animation-name: fadeInHome;
    animation-duration: 0.8s;
    animation-timing-function: cubic-bezier(0.72, 0.19, 0.41, 0.89);
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
}
.section-3-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin: auto;
  max-width: 1240px;
  width: 100%;
  height: auto;
  position: relative;
  .content-left {
    width: 48%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
    .link {
      width: 200px;
    }
    @media (max-width: 991px) {
      width: 100%;
      text-align: center;
      margin: 2rem auto;
      .link {
        margin: auto;
      }
    }
  }
  .content-right {
    width: 52%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    @media (max-width: 991px) {
      width: 100%;
      position: relative;
      top: unset;
      bottom: unset;
      height: auto;
      margin-top: 4rem;
    }
    .img-top {
      position: absolute;
      top: 0;
      left: 0;
      width: 78%;
      height: auto;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
        0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
        0 22.3px 17.9px rgba(0, 0, 0, 0.042),
        0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);

      @media (max-width: 991px) {
        width: 60%;
        position: relative;
        top: unset;
        bottom: unset;
        height: auto;
        display: block;
        margin: 2rem auto;
      }
      @media (max-width: 600px) {
        width: 98%;
      }
    }
    .white-stamp {
      position: absolute;
      z-index: 4;
      height: 164px;
      right: 0;
      top: 10%;
      @media (max-width: 600px) {
        display: none;
      }
    }
    .img-bottom {
      position: absolute;
      bottom: -10%;
      right: 0;
      width: 44%;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
        0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
        0 22.3px 17.9px rgba(0, 0, 0, 0.042),
        0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);

      @media (max-width: 1380px) {
        bottom: -8%;
      }
      @media (max-width: 1240px) {
        bottom: 4%;
      }
      @media (max-width: 991px) {
        width: 40%;
        position: relative;
        top: unset;
        bottom: unset;
        height: auto;
        display: block;
        margin: auto;
        transform: translateY(-12%);
      }
      @media (max-width: 600px) {
        width: 66%;
        transform: translateY(-18%);
      }
    }
  }
  h2 {
    letter-spacing: 2.2px;
    @media (max-width: 1240px) {
      font-size: 4.2rem;
    }
    @media (max-width: 991px) {
      line-height: 1;
      letter-spacing: 1px;
      font-weight: 700;
    }
  }
  h3 {
    line-height: 1.8;
    text-transform: none;
    &:nth-of-type(2) {
      line-height: 1.2;
    }
    @media (max-width: 991px) {
      margin-top: 2rem;
    }
  }
  a {
    text-decoration: none;
  }
}
@keyframes fadeInHome {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
