.not-found-container {
  top: 200px;
  bottom: 264px;
  @media (max-width: 768px) {
    min-height: 50vh;
    top: 0;
    position: relative !important;
  }
  h1 {
    margin-bottom: 2.4rem;
  }
  h3 {
    text-align: center;
  }
  button {
    margin-top: 2.4rem;
  }
}
