html,
body {
  height: 100%;
}
html {
  overflow-x: hidden;
}
body {
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Abhaya Libre";
  src: url("./fonts/AbhayaLibre-Regular.woff2") format("woff2"),
    url("./fonts/AbhayaLibre-Regular.woff") format("woff"),
    url("./fonts/AbhayaLibre-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("./fonts/WorkSans-Medium.woff2") format("woff2"),
    url("./fonts/WorkSans-Medium.woff") format("woff")
      url("./fonts/WorkSans-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("./fonts/WorkSans-Bold.woff2") format("woff2"),
    url("./fonts/WorkSans-Bold.woff") format("woff"),
    url("./fonts/WorkSans-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";

  src: url("./fonts/WorkSans-Regular.woff2") format("woff2"),
    url("./fonts/WorkSans-Regular.woff") format("woff"),
    url("./fonts/WorkSans-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Abhaya Libre";
  src: url("./fonts/AbhayaLibre-Bold.woff2") format("woff2"),
    url("./fonts/AbhayaLibre-Bold.woff") format("woff"),
    url("./fonts/AbhayaLibre-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}
